:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
}

*{
    font-family: 'poppins'sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
img{
    opacity: 0.5;
}